@font-face {
    font-family: 'pf-stardust-bold';
    src:url('./font/pf-stardust-bold.ttf');
} 

* {
    margin:0;padding:0;box-sizing:border-box;font:inherit;color:inherit;flex-shrink:0;
}

body {
    overflow: hidden;
    font-family: 'pf-stardust-bold';
    color: #000;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./esset/gif.gif);
    background-color: #010080;
    background-repeat: repeat, no-repeat;
    background-size: auto, 100%;
    background-blend-mode: screen, color;
}

/*컨테이너*/
.container {
    width: 800px;
    background-color: #C0C0C0;
    border: 2px solid;
    border-top-color: white;
    border-left-color: white;
    box-shadow: 7px 7px 10px #000;
}

/*헤더*/
.header {
    width: 100%;
    padding: 3px 3px 0px;
}

.top1 {
    width: 100%;
    height: 25px;
    display: flex;
    align-items: center;
    padding-left: 7px;
    background-color: #010180;
}

.top-ul {flex-grow: 1; color: white;} 

.top-but {
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
    margin-right: 5px;
    background-color:#C0C0C0;
    border: 2px solid;
    border-top-color: white;
    border-left-color: white;
}

.top2 {
    margin: 3px 3px 0px;
    padding: 2px;
    font-size: small;
    word-spacing: 10px;
    border-bottom: 2px solid #000;
}

/*검색창*/
.searchbar {
    display: flex;
    align-items: flex-end;
    margin: 0px 3px 0px;
    padding: 2px 2px 0px;
    border-top: 2px solid white;
}

.searchtxt {
    padding-right: 5px;
    padding-bottom: 3px;
    font-size: small;
}

.searhspace {
    flex-grow: 1;
    padding: 1px 3px;
    background-color: white;
    border: 2px solid;
    border-right-color: white;
    border-bottom-color: white;
}

.searhspace::placeholder {color: #000;}

/*인터넷*/
.internet {
    margin: 3px;
    border: 2px solid;
    border-right-color: white;
    border-bottom-color: white;
}

.in-internet {
    height: 400px;
    overflow: scroll;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
}

/*내용*/
.main {
    background-color: black;
    color: white;
}

/*푸터*/
.footer {
    display: flex;
    padding: 1px 2px;
    margin-bottom: 3px;
}

.box1, .box2, .box3 {
    height: 30px;
    border: 2px solid;
    border-top-color: #000;
    border-left-color: #000;
    border-right-color: white;
    border-bottom-color: white;
}

.box1 {
    margin-left: 5px;
    width: 560px;
}

.box2 {
    margin-left: 3px;
    width: 130px;
}

.box3 {
    margin-left: 3px;
    width: 86px;
}
